@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/roboto.woff2'),
    url('../fonts/roboto.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/roboto.woff2'),
    url('../fonts/roboto.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/roboto.woff2'),
    url('../fonts/roboto.woff');
}

:root {
  --color-site-background: #4D4D4D;
  --color-site-header: rgba(77, 77, 77, 0.12);
  --shadow-site: 0px 6px 15px rgba(0, 1, 1, 0.25);
  --color-site-desc-background: #EEEEEE;
  --color-pagination-border: #DBDBDB;
  --color-pagination-background: #EEEEEE;
  --color-white: #ffffff;
  --color-header: #eeeeee;
  --color-title: #000000;
  --color-text: #283136;
  --color-button-text: #ffffff;
  --color-primary: #FB565A;
  --color-apps: #00CA74;
  --color-apps-hover: #00BC6C;
  --color-apps-active: #00AA62;
  --color-presentation: #EFC849;
  --color-presentation-hover: #EAB534;
  --color-presentation-active: #E5A722;
  --color-addres: #666666;
  --color-discount: #444444;
  --color-button-hover: #E74246;
  --color-button-active: #D7373B;
  --social-icon-background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  --social-icon-background-hover: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
  --social-icon-background-active: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  --min-width: 1160px;

}

/* Глобальные классы */

.page {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-title);
  height: 100%;
  box-sizing: border-box;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-button-text);
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.125;
}

.button:hover {
  background-color: var(--color-button-hover);
}

.button:active {
  background-color: var(--color-button-active);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.container {
  width: var(--min-width);
  padding: 0;
  margin: 0 auto;
}

.color-head {
  background-color: var(--color-header);
}

.header__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-top: 49px;
}

/* Меню навигации */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 202px;
}

.nav__item {
  font-weight: 500;
  line-height: 1.87;
  text-transform: uppercase;
  color: var(--color-title);
  margin-right: 45px;
}

.nav__item:hover {
  color: var(--color-primary);
}

.nav__item:active {
  color: var(--color-title);
  opacity: 0.3;
}

.nav__item--active {
  font-weight: 500;
  line-height: 1.87;
  text-transform: uppercase;
  color: var(--color-title);
  border-bottom: 2px solid var(--color-primary);
}

/* Карзина пользователя */
.shop__nav {
  font-weight: 500;
  line-height: 1.87;
  text-transform: uppercase;
  color: var(--color-title);
}

.shop__nav:hover {
  color: var(--color-primary);
}

.shop__nav:active {
  color: var(--color-title);
  opacity: 0.3;
}

/* Карусель */
.slider {
  margin: 0;
}

.slider__wrapper {
  height: 431px;
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.slider__title {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 1;
}

.slider__subtitle {
  color: var(--color-text);
}

.slider__button {
  padding: 17px 54px 15px 54px;
}

/* Услуги */
.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}

.services__item {
  width: 300px;
}

.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.services__text {

  color: var(--color-text);
}

.services__button-site,
.services__button-apps,
.services__button-present {
  padding: 17px 40px 15px 39px;
}

.services__button-apps {
  background-color: var(--color-apps);
}

.services__button-apps:hover {
  background-color: var(--color-apps-hover);
}

.services__button-apps:active {
  background-color: var(--color-apps-active);
  opacity: 0.3;
}

.services__button-present {
  background-color: var(--color-presentation);
}

.services__button-present:hover {
  background-color: var(--color-presentation-hover);
}

.services__button-present:active {
  background-color: var(--color-presentation-active);
  opacity: 0.3;
}

.company-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* О компании */
.about-us__job-list {
  list-style: none;
}

.about-us__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
}

.about-us__text {
  color: var(--color-text);
}

.about-us__job-title {
  color: var(--color-text);
  text-transform: uppercase;
}

.about-us__job {
  color: var(--color-text);
}

/* Статистика */
.statistics__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  ;
}

.statistics__text {
  font-weight: 700;
}

.statistics__rate {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.4;
}

.statistics__description {
  line-height: 1.125;
  color: var(--color-text);
}

/* Партнеры */
.pairs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-around;
}

.pairs__item {
  opacity: 0.2;
}

.pairs__item:hover {
  opacity: 1;
}

.pairs__item:active {
  opacity: 0.1;
}

/* Адрес */
.address {
  position: absolute;
  top: 54px;
  width: 319px;
  background-color: var(--color-white);
  padding: 49px 50px 47px 50px;
}

.address__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
}

.address__street {
  line-height: 1.125;
  color: var(--color-addres);
}

.address__tel {
  line-height: 1.125;
  color: var(--color-addres);
}

.address__button {
  padding: 17px 44px 15px 44px;
}

/* Предложения */
.offer {
  margin-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__tagline {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}

.footer__discount {
  display: block;
  line-height: 1.375;
  color: var(--color-discount);
}

.footer__bottom {
  display: flex;
}

/* Социальные кнопки */
.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social__item {
  display: block;
  position: relative;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: var(--social-icon-background);
  text-align: center;
  margin-right: 9px;
}

.social__item:hover {
  background: var(--social-icon-background-hover);
}

.social__item:active {
  background: var(--social-icon-background-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social__item svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.social__item:active svg {
  opacity: 0.3;
}

/* Магазин */
.shop__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 1;
  opacity: 0.5;
  margin: 0;
  text-align: center;
  padding-bottom: 104px;
}

.shop__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* Раздел поиска */


/* Сортировка */
.sort__title {
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
}

.sort__list-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sort__item {
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort__item--active {
  opacity: 1;
}

/* Панель результатов */
.result-list {
  display: flex;
  flex-wrap: wrap;
}

.site {
  position: relative;
  margin-right: 40px;
  margin-bottom: 30px;
  background-color: var(--color-site-header);
  border-radius: 5px;
  line-height: 0;
}

.site:nth-child(2n) {
  margin-right: 0;
}

.site:hover {
  box-shadow: var(--shadow-site);
  background-color: var(--color-site-background);
}

.site:hover .site__site-desc {
  display: block;
}

.site__circle {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-white);
  margin: 13px 0 13px 16px;
}

.site__circle::before,
.site__circle::after {
  position: absolute;
  content: "";
  top: 0;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-white);
  margin: 13px 0;
}

.site__circle::before {
  left: 39px;
}

.site__circle::after {
  left: 62px;
}


.site__site-desc {
  display: none;
  background-color: var(--color-site-desc-background);
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.site__title {
  margin: 26px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
}

.site__text {
  line-height: 1.125;
  color: var(--color-addres);
  margin-top: 12px;
  margin-bottom: 32px;
}

.site__button {
  padding: 17px 72px 15px 72px;
  margin-bottom: 44px;
}

/* Пагинация */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination__page {
  display: block;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  border-radius: 3px;
  background-color: var(--color-pagination-background);
  margin-right: 11px;
}

.pagination__page--number {
  padding: 17px 20px 15px 20px;
}

.pagination__page--more {
  padding: 17px 77px 15px 78px;
}

.pagination__page--active {
  border: 3px solid var(--color-pagination-border);
  background-color: var(--color-white);
}

.pagination__more {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
}

/* Карта*/

.map {
  position: relative;
  height: 416px;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
