@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/roboto.woff2'),
    url('../fonts/roboto.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/roboto.woff2'),
    url('../fonts/roboto.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/roboto.woff2'),
    url('../fonts/roboto.woff');
}

:root {
  --color-header: #eeeeee;
  --color-title: #000000;
  --color-text: #283136;
  --color-button-text: #ffffff;
  --color-primary: #FB565A;
  --color-apps: #00CA74;
  --color-apps-hover: #00BC6C;
  --color-apps-active: #00AA62;
  --color-presentation: #EFC849;
  --color-presentation-hover: #EAB534;
  --color-presentation-active: #E5A722;
  --color-addres: #666666;
  --color-discount: #444444;
  --color-button-hover: #E74246;
  --color-button-active: #D7373B;
  --social-icon: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

/* Глобальные классы */

.page {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-title);
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-button-text);
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--color-button-hover);
}

.button:active {
  background-color: var(--color-button-active);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.header__wrapper,
.main-page {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
}

.header, .header__wrapper {
  background-color: var(--color-header);
}

/* Меню навигации */

.nav__list {
  list-style: none;
}

.nav__item {
  font-weight: 500;
  line-height: 1.87;
  text-transform: uppercase;
  color: var(--color-title);
}

.nav__item:hover {
  color: var(--color-primary);
}

.nav__item:active {
  color: var(--color-title);
  opacity: 0.3;
}

.nav__item--active {
  font-weight: 500;
  line-height: 1.87;
  text-transform: uppercase;
  color: var(--color-title);
  border-bottom: 2px solid var(--color-primary);
}

/* Карусель */
.slider__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 1;
}

.slider__subtitle {
  color: var(--color-text);
}

/* Услуги */
.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.services__text {

  color: var(--color-text);
}

/* .services__button-site:hover {
  background-color: var(--color-button-hover);
}

.services__button-site:active {
  background-color: var(--color-button-active);
  opacity: 0.3;
} */

.services__button-apps {
  background-color: var(--color-apps);
}

.services__button-apps:hover {
  background-color: var(--color-apps-hover);
}

.services__button-apps:active {
  background-color: var(--color-apps-active);
  opacity: 0.3;
}

.services__button-present {
  background-color: var(--color-presentation);
}

.services__button-present:hover {
  background-color: var(--color-presentation-hover);
}

.services__button-present:active {
  background-color: var(--color-presentation-active);
  opacity: 0.3;
}

/* О компании */
.about-us__job-list {
  list-style: none;
}

.about-us__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
}

.about-us__text {
  color: var(--color-text);
}

.about-us__job-title {
  color: var(--color-text);
  text-transform: uppercase;
}

.about-us__job {
  color: var(--color-text);
}

/* Статистика */
.statistics__list {
  list-style: none;
}

.statistics__text {
  font-weight: 700;
}

.statistics__rate {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.4;
}

.statistics__description {
  line-height: 1.125;
  color: var(--color-text);
}

/* Партнеры */
.pairs__list {
  list-style: none;
}

.address__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
}

.address__street {
  line-height: 1.125;
  color: var(--color-addres);
}

.address__tel {
  line-height: 1.125;
  color: var(--color-addres);
}

.footer__tagline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}

.footer__discount {
  line-height: 1.375;
  color: var(--color-discount);
}

/* Социальные кнопки */
.social__list {
  list-style: none;
}

/* Магазин */
.shop__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 1;
  opacity: 0.5;
}

/* Раздел поиска */


/* Сортировка */
.sort__title {
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
}

.sort__list {
  list-style: none;
}

.sort__item {
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort__item--active {
  opacity: 1;
}

/* Пагинация */
.pagination {
  list-style: none;
}

.pagination__page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
}

.pagination__page--active {
  opacity: 0.1;
}

.pagination__more {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
}
